@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Jura:wght@300..700&family=Metrophobic&display=swap");

:root {
	--fonttext: "jura";
}
.allcards {
	display: flex;
	flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
	gap: 20px; /* Espace entre les cartes */
	justify-content: center; /* Centre les cartes horizontalement */
	width: 100%; /* S'assure que le conteneur prend toute la largeur disponible */
}

.card {
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	background: rgba(12, 99, 232, 0.5);
	width: calc(33.33% - 20px); /* Prend un tiers de la largeur avec un espacement entre les cartes */
	height: 464px;
	box-sizing: border-box;
	padding: 10px; /* Espace intérieur pour plus de respiration */
}

.cardimage {
	display: flex;
	justify-content: center; /* Centre l'image horizontalement */
	align-items: center; /* Centre l'image verticalement */
	width: 100%;
	height: 50%; /* Occupe la moitié haute de la carte */
	background-color: rgba(227, 227, 227, 1);
}

.cardimage img {
	max-width: 100%; /* L'image occupe toute la largeur de la zone */
	max-height: 100%; /* L'image ne dépasse pas la hauteur de la zone */
	object-fit: contain; /* Maintient les proportions de l'image */
}

.caption {
	font-family: var(--fonttext);
	font-size: 30px;
	font-weight: 700;
	line-height: 50.4px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

	display: flex;
	flex-direction: row;
	justify-content: space-between; /* Centre verticalement */
	align-items: flex-start; /* Aligne le texte à gauche */
	text-align: left; /* Texte aligné à gauche */
	height: 50%; /* Occupe la moitié basse de la carte */
	padding-left: 10px; /* Ajuste l'espace intérieur pour le texte */
	box-sizing: border-box;
}

.custom-list {
	list-style: none; /* Retirer les puces de la liste */
	padding: 0;
}

.custom-list li {
	margin: 5px 0; /* Espacement entre les éléments de la liste */
	color: white; /* Couleur du texte pour la lisibilité */
}
.magic-lamp {
	width: 56px;
	height: 56px;
	top: 957px;
	left: 418px;
	gap: 0px;
	opacity: 0px;
}
