.categories {
	margin-top: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.above-button-text {
	font-size: 22px;
	margin-bottom: 20px;
	color: #ffffff;
	font-weight: bold;
	line-height: 1.5;
	filter: drop-shadow(2px 2px 4px black);
}

.category-menu {
	appearance: none;
	display: flex;
	text-align: center;
	color: white;
	font-family: var(--titlefont);
	width: 450px;
	height: 150px;
	font-size: 28px;
	background-image: url("src/assets/answers.png");
	background-size: cover;
	background-position: center;
}

.category-item {
	background-image: url("/src/assets/catlist.png");
	display: flex;
	justify-content: center;
	align-items: center;
	width: 140px;
	height: 45px;
	background-color: none;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	font-size: smaller;
	border-radius: 8px;
	cursor: pointer;
	text-align: center;
}

.category-products h3 {
	color: white;
}

.products-cat {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
	margin-top: 20px;
}
