nav {
	background-color: rgba(255, 255, 255, 0.1);
	position: relative;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logoGG {
	max-height: 5em;
	padding-left: 1em;
}

.nav-picto {
	max-height: 2em;
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 1em;
	gap: 1em;
	text-decoration: none;
}

nav-icons-background {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	background-color: rgba(12, 99, 232, 0.5); /* Fond personnalisé, avec une légère transparence */
	display: flex;
	justify-content: center;
	z-index: 0;
}
