h1 {
	color: white;
}

.suggestions {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.suggestions h1 {
	font-family: var(--titlefont);
	margin-bottom: 20px;
	filter: drop-shadow(2px 4px 6px black);
}

.suggestions-container {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: center;
	width: 100%;
}

.suggestion-card {
	background-color: rgba(12, 99, 232, 0.9);
	border-radius: 8px;
	width: 180px;
	height: 260px;
	text-align: center;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	padding: 16px;
}

.suggestion-card img {
	width: 80%;
	height: auto;
	border-radius: 8px;
	background-color: #e3e3e3;
	padding: 16px;
}

.suggestion-card h4 {
	font-size: 1rem;
	margin: 0;
	color: white;
	font-family: var(--textfont);
}

.suggestion-card p {
	display: flex;
	margin-bottom: auto;
	width: 50px;
	background-color: #ffc107;
	color: #000;
	font-weight: bolder;
	font-size: .8rem;
	padding: 8px 12px;
	border-radius: 12px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.above-button-text {
	font-family: var(--titlefont);
}
