@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Jura:wght@300..700&family=Metrophobic&display=swap");

#root {
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	--titlefont: "Inika", sans-serif;
	--textfont: "Metrophobic", sans-serif;
}

body {
	background-color: black;
	margin: 0;
}
