@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Jura:wght@300..700&family=Metrophobic&display=swap");

:root {
	--titlefont: "Inika", sans-serif;
	--textfont: "Metrophobic", sans-serif;
}

body {
	background-image: url("src/assets/desert-night");
}
